/* 全站設定 */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none !important; 
    display: block;
}
ul {
    list-style: none;
    padding: 0;
}
h1,h2,h3,h4,h5,p,a,li{
    color: #3F5D45 !important;
}
.text-primary-light{
    color: #8da291!important;
}