.login-username{
    position: relative;
}
.username-icon{
    position: absolute;
    top: 15px;
    left: 20px;
}
.login-password{
    position: relative;
}
.password-icon{
    position: absolute;
    top: 40px;
    left: 20px;
}
.social-item-text{
    color: #8DA291 !important;
}
.social-item-bg{
    background-color: #8DA291 !important;
}
.mg-10{
    margin-top: -20px;
    margin-bottom: -20px;
}